<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>rendered login</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="app/assets/css/app.min.css">
    <link rel="stylesheet" href="app/assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="app/assets/css/style.css">
    <link rel="stylesheet" href="app/assets/css/components.css">
    <link rel="stylesheet" href="app/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='app/assets/img/favicon.ico' />
    <title>Login</title>
    <script src="/lib/angular/angular.js"></script>
    <script src="/env/vars.js"></script>
    <script src="/app/helpers/utility.js"></script>
    <script src="/app/controller/auth/login.controller.js"></script>
</head>

<body>
    <div class="loader"></div>
    <div id="app" ng-app="app" ng-controller="loginCtrl">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div
                        class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>
                            <div class="card-body">
                                <form name="loginForm" ng-submit="user.getLogin()" class="needs-validation"
                                    novalidate="">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control field-email" autocomplete="off"
                                            name="email" ng-model="user.email" placeholder="Enter email address"
                                            required />
                                        <div class="invalid-feedback">
                                            Please fill in your email
                                        </div>
                                    </div>
                                    <div
                                        class="form-group {{ ((loginForm.$submitted || loginForm.password.$touched) && loginForm.password.$invalid) ? 'error' : 'success' }}">
                                        <div class="d-block">
                                            <label for="password" class="control-label">Password</label>
                                        </div>
                                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                                            autocomplete="off" name="password" ng-model="user.password"
                                            placeholder="Enter password" required />
                                        <span class="field-pass-show-hide hide"
                                            ng-click="user.togglePasswordVisibility()"></span>
                                        <div class="invalid-feedback">
                                            please fill in your password
                                        </div>
                                    </div>
                                    <div class="form-field-holder" ng-if="user.error">
                                        <div class="form-field" style="color: red">{{ user.error }}</div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit"
                                            class="btn btn-primary btn-lg btn-block {{ user.btnLoader ? 'btn-loader' : '' }}"
                                            tabindex="4">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="app/assets/js/app.min.js"></script>
    <script src="app/assets/js/scripts.js"></script>
    <script src="app/assets/js/custom.js"></script>
</body>

</html>