<!DOCTYPE html>
<html lang="en">

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1 ">
            <div class="navbar-bg"></div>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html"> <img alt="image" src="/app/assets/img/logo.png" class="btn" />
                            <span class="logo-name" ;>Agent Help</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu" style="padding-top:50px ;">
                        <li title="Users" ng-click="goTo('admin/users')">
                            <a class="nav-link"><img
                                    src="/app/assets/bundles/feather-icons/dist/icons/users.svg" /><span
                                    style="padding-left:15px ;">Users</span>
                            </a>
                        </li>
                        <li title="Profile" ng-click="goTo('/admin/password-reset')">
                            <a class="nav-link"><img alt="image"
                                    src="/app/assets/bundles/feather-icons/dist/icons/user.svg" /><span
                                    style="padding-left:15px ;">Profile</span>
                            </a>
                        </li>
                        <div class="foot">
                            <li title="Log Out" ng-click="logout()">
                                <a class="nav-link"><img alt="image"
                                        src="/app/assets/bundles/feather-icons/dist/icons/log-out.svg" />
                                    <span style="padding-left:15px ;">Logout</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</body>
</html>