<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1 ">
            <div class="navbar-bg"></div>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <span  ><h4 class="nav-pad-top">Agent Help</h4></span>
                    </div>
                    <ul class="sidebar-menu nav-pad-top" >
                        <li title="Users" ng-click="goTo('admin/users')">
                            <a class="nav-link"><img
                                    src="/app/assets/bundles/feather-icons/dist/icons/users.svg" /><span
                                    class=" nav-ele-pad-left">Users</span>
                            </a>
                        </li>
                        <li title="Profile" ng-click="goTo('/admin/password-reset')">
                            <a class="nav-link"><img alt="image"
                                    src="/app/assets/bundles/feather-icons/dist/icons/user.svg" /><span
                                    class=" nav-ele-pad-left">Profile</span>
                            </a>
                        </li>
                        <div class="logout-nav">
                            <li title="Log Out" ng-click="logout()">
                                <a class="nav-link"><img alt="image"
                                        src="/app/assets/bundles/feather-icons/dist/icons/log-out.svg" /><span
                                        class="nav-ele-pad-left logout-pad" >Logout</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</body>