<body>
    <div class="loader" ng-if="users.pageLoader"></div>
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <div class="main-content nav-pad-top">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-head-align">Users</h4>
                                    <div class="card-header-form">
                                        <form>
                                            <button type="button" ng-controller="AdminUsersCtrl"
                                                class="btn btn-lg btn-success height-50" ng-click="users.addNewUser()">
                                                <div class="font-15">
                                                    <i class="fas fa-user-plus font-15"></i>
                                                    Add New User
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>
                                                    <h5>Name</h5>
                                                </th>
                                                <th>
                                                    <h5>Email</h5>
                                                </th>
                                                <th>
                                                    <h5>Status</h5>
                                                </th>
                                            </tr>
                                            <tr
                                                ng-repeat="user in users.list | filter: users.userText | orderBy: '+id'">
                                                <td>{{ user.first_name }} {{user.last_name}}</td>
                                                <td><a href="mailto: {{ user.email }}">{{ user.email }}</a></td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-success font-15 "    
                                                         ng-if="user.status_id== '1'">
                                                         Published
                                                        </button>
                                                        <button class="btn btn-warning font-15 btn-draft" 
                                                         ng-if="user.status_id== '2'">
                                                            Draft
                                                        </button>
                                                        <button class="btn btn-danger font-15 btn-discard" 
                                                         ng-if="user.status_id== '3'" >
                                                            Discard
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>