<!DOCTYPE html>
<html lang="en"><body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <div>
                <section class="section">
                    <div class="section-body">
                        <div class="main-content" style="padding-top:50px ;" >
                            <section class="section" >
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Users</h4>
                                        <div class="card-header-form">
                                            <form>
                                                <button type="button" ng-controller="AdminUsersCtrl"
                                                    class="btn btn-lg btn-success" style="height: 50px;"
                                                    ng-click="users.addNewUser()">
                                                    <i class="fas fa-user-plus"></i> Add New User
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table" style="font-size: 16px;">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>email</th>
                                                    <th>User Status</th>
                                                <tr>
                                                <tr
                                                    ng-repeat="user in users.list | filter: users.userText | orderBy: '+id'">
                                                    <td>{{ user.first_name }} {{user.last_name}}</td>
                                                    <td><a href="mailto: {{ user.email }}">{{ user.email }}</a></td>
                                                    <td>
                                                        <div class="row-status-field badge badge-success">{{
                                                            user.status_id == 1 ? "Active" : "InActive" }}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>