<div class="content order-screen">
    <div class="container height-100 flex-center">
        <div class="loader loader-1" ng-if="intimations.pageLoader">
            <div class="loader-outer"></div>
            <div class="loader-inner"></div>
        </div>
        <div class="con-holder pad-20" ng-if="!intimations.pageLoader">
            <div class="order-detail-head">
                <div class="flex-space-between flex-align-center">
                    <h3>Intimation</h3>
                </div>
            </div>
            <div class="order-detail-body">
                <!-- <div class="row-name-field">{{intimation_detail.list}}</div> -->
                <div class="content-body table-holder h-line-scroll">
                    <table class="table">
                        <!-- <h1>intimation_detail.</h1> -->
                        <thead>
                            <tr>
                                <td class="row-name-field">
                                   <b> Proposal Name </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.proposal_name}}
                                </td>
                            </tr>

                            <tr>
                                <td class="row-name-field">
                                    <b> Patient Name </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.patient_name}}
                                </td>
                            </tr>

                            <tr>
                                <td class="row-name-field">
                                    <b> Proposal Mobile Number </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.proposal_mobile}}
                                </td>
                            </tr>

                            <tr>
                                <td class="row-name-field">
                                    <b> Insurance Company </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.insu_company}}
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name-field">
                                    <b> Policy Number </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.policy_number}}
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name-field">
                                    <b> Admit Date </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.admit_date}}
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name-field">
                                    <b> Admit Reason </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.admit_reason}}
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name-field">
                                    <b> Hospital Name </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.hospital_name}}
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name-field">
                                    <b> Hospital Address </b>
                                </td>
                                <td class="row-name-field">
                       
                                    {{intimation_detail.list.hospital_address}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
