<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1 ">
            <div class="navbar-bg"></div>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <span>
                            <h4 class="nav-pad-top">Agent Help</h4>
                        </span>
                    </div>
                    <ul class="nav-pad-top sidebar-menu ">
                        <li title="Intimations" ng-click="goTo('/agent/intimations')">
                            <a class="nav-ele-pad-left nav-link"><img
                                    src="/app/assets/bundles/feather-icons/dist/icons/users.svg" />
                                <span class="nav-ele-pad-left">Intimations</span>
                            </a>
                        </li>
                        <li title="Profile" ng-click="goTo('/agent/links')">
                            <a class="nav-ele-pad-left nav-link"><img alt="image"
                                    src="/app/assets/bundles/feather-icons/dist/icons/link.svg" />
                                <span class=" nav-ele-pad-left">Links</span>
                            </a>
                        </li>
                        <li title="Profile" ng-click="goTo('/agent/password-reset')">
                            <a class="nav-ele-pad-left nav-link"><img alt="image"
                                    src="/app/assets/bundles/feather-icons/dist/icons/user.svg" />
                                <span class="nav-ele-pad-left">Profile</span>
                            </a>
                        </li>
                        <div class="logout-nav">
                            <li title="Log Out" ng-click="logout()">
                                <a class="nav-link"><img alt="image"
                                        src="/app/assets/bundles/feather-icons/dist/icons/log-out.svg" /><span
                                        class="nav-ele-pad-left logout-pad">Logout</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</body>