<div class="side-nav">
    <div class="nav-header">
        <h3>Agent</h3>
    </div>
    <div class="nav admin-nav">
        <div class="nav-links">
            <ul>
                <li title="Intimations" ng-class="{'active': nav.selected == 'intimations'}" ng-click="goTo('/agent/intimations')">
                    <a><span class="admin-change-password-icon"></span>Intimations</a>
                </li>
                <li title="Profile" ng-class="{'active': nav.selected == 'password-reset'}" ng-click="goTo('/agent/password-reset')">
                    <a><span class="admin-change-password-icon"></span>Profile</a>
                </li>
            </ul>
        </div>
        <div class="foot-links">
            <ul>
                <li title="Log out">
                    <span ng-click="logout()" class="log-out-btn"><span class="log-out-icon"></span>Log out</span>
                </li>
            </ul>
        </div>
    </div>
</div>
